
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <br />
    <h1 align="center">Kontakt</h1>
    <br />
    <img src="https://i.imgur.com/zoirS8P.png" />
    <br />
    <br />
    <div style="display: flex; flex-direction: row; justify-content: space-around; align-content: left">



        <div>
            <h4>Lokacija</h4>
            <p>
                6750 N. Andrews Avenue <br />
                Suite 100 <br />
                Fort Lauderdale, FL 33309
            </p>
        </div>

        <div>
            <h4>Radno vrijeme</h4>
            <p>
                Ponedjeljak - Petak: 9:00 - 19:00 <br />
                Subota - Nedjelja: 9:00 - 15:00
            </p>
        </div>

        <div>
            <h4>Kontakt podaci</h4>
            <p>
                <a href="mailto:contact@greatseacruises.com">contact@greatseacruises.com</a><br />
                855-230-5242<br />
                855-735-3201
            </p>
        </div>
    </div>


</div>

@section footer{
    <footer>
        <hr />
        <p align="center">&copy; Great Sea Cruises - 2022</p>
    </footer>
}
