
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
  
<div>
    <br />
    <h1>Home page</h1>
    <br />
    <p>Great Sea Cruises is an Italian global cruise line registered in Switzerland and based in Geneva, with operations offices in Naples, Genoa and Venice. It was founded in 1989 in Naples, Italy, as part of the Great Sea Company. In addition to being the world's largest privately held cruise company, employing about 23,500 people worldwide and with offices in 45 countries as of 2017, Great Sea Cruises is the third-largest cruise company in the world, after Carnival Corporation & plc, Royal Caribbean Group with a 7.2% share of all passengers carried in 2017.</p>


</div>


@section footer{
    <footer>
        <hr />
        &copy; Great Sea Cruises
    </footer>    
}
