@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <br />
    <h1>Log in</h1>
    <br />
    <div class="form-group">
        <label>Username:</label>
        <input type="text" id="username" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Password:</label>
        <input type="password" id="password" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-primary" id="btn-login">Login</button>
    </div>
</div>



@section footer{
    <footer>
        <br />
        <hr />
        &copy; Great Sea Cruises 2022
    </footer>
}
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/custom/korisnik-management/login.js"></script>
